@model lab6.Models.Driver

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayForModel()
    </dl>
</div>